.card {
  border: 1px solid rgb(177, 177, 177);
  border-radius: 10px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 0px 20px 10px 20px;
}

.card--container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.card img {
  border-radius: 10px;
  margin-bottom: 15px;
  height: 150px;
  width: 150px;
  object-fit: cover; /* keep aspect ratio and crop if needed */
}

.card--headlines {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  width: 100%;
}

.card--headlines h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  min-height: 60px; /* reserve space for title */
}

.card--headlines p {
  margin: 10px 0;
  font-weight: 400;
  font-size: 1.1rem;
}
.card--headlines h4 {
  font-size: 1.2rem;
  color: #3d3d3d;
  margin: 0;
}
