.checkout--container {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.checkout--seperator {
  height: 1px;
  width: 100%;
  background-color: rgb(199, 199, 199);
  border-radius: 20px;
}

.checkout--price-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout--overview {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.checkout-card--container {
  flex: 1 1 0;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 30px 20px 30px;
}
