.productoverview {
  margin-right: 8rem;
  margin-left: 8rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  align-items: end;
}

.productoverview h1 {
  font-size: 2.2rem;
}

.productoverview--products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.productoverview--view-more {
  width: fit-content;
  margin: 0 auto 1rem;
}

.productoverview--view-more a {
  text-decoration: none;
  list-style: none;
  color: #222222;
  font-size: 1.3rem;
  font-weight: 500;
  transition: 0.5s color;
}

.productoverview--view-more a:hover {
  color: rgb(95, 95, 95);
}
