nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #222222;
}

.nav--links {
  text-decoration: none;
  list-style: none;
}

.nav--link {
  display: inline-block;
  margin-right: 2.5rem;
}
.nav--link a {
  text-decoration: none;
  list-style: none;
  color: #222222;
  font-size: 1.3rem;
  font-weight: 500;
  transition: 0.5s color;
}

.nav--link a:hover {
  color: rgb(95, 95, 95);
}

.nav--logo {
  font-size: 1.4rem;
  font-weight: 600;
}
